/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    background: #fdc0f0;
    color: #2a4291;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #455f86;
    color: #faf8f8;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.nav-link.active {
    font-weight: bold;
    color: #17afd4;
}

/* Main */
main {
    flex: 1;
    padding: 20px;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Sections */
.section {
    display: none;
}

.section.active {
    display: block;
}

/* Energy Cards */
.energy-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.energy-card {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Grid for appliances */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

/* Appliance Card */
.appliance-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-body {
    margin: 10px 0;
}

.status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
}

.status.on {
    background: #22c55e;
    color: white;
}

.status.off {
    background: #ef4444;
    color: white;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 3px;
    top: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background: #22c55e;
}

input:checked + .slider::before {
    transform: translateX(23px);
}

/* Settings Cards */
.settings-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Responsive */
@media(max-width: 768px){
    body{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        height: auto;
    }
}